@media (max-width: 768px) {
  #pic{
    border-radius: 16px;
    margin: 10px;
    width: 125px;
    height: 125px;
  }
  #name{
    font-size: 1.6em;
    font-family: "Varela Round", sans-serif;
  }
  #bio{
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
    margin-left: 10px;
    margin-bottom: 15px;
  }
  #contact{
    font-size: 25px;
    margin-top: 15px;
  }#mes{font-size: 23px;}
  #title{
    font-size: 17px;
    font-family: "Varela Round", sans-serif;
  }
  #info{
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
  }
  #cr{
    font-size: 13.5px;
    font-family: "Nunito", sans-serif;
  }
}
 @media(min-width: 768px) {
  #pic{
    border-radius: 360px;
    width: 15em;
    height: 15em;
    margin-top: 8em;
    margin-bottom: 1em;
  }
  #name{
    font-size: 3em;
    font-family: "Varela Round", sans-serif;
  }
  #bio{
    font-size: 1.5em;
    font-family: "Ubuntu", sans-serif;
    margin-top: 0.1em;
    margin-bottom: 1.5em;
  }
  #contact{
    font-size: 2.3em;
    margin: 0.5em;
  }
  #title{
    font-size: 1.6em;
    font-family: "Varela Round", sans-serif;
  }
  #info{
    font-size: 1.5em;
    font-family: "Ubuntu", sans-serif;
  }
  #cr{
    font-size: 1.3em;
    font-family: "Nunito", sans-serif;
    padding: 1.2em;
  }
 }
  #mtitle{
    font-size: 19px;
    font-family: "Varela Round", sans-serif;
  }
  #mbtn{
    font-family: "Varela Round", sans-serif;
  }